<template>
  <div
  class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-100 border-0"
  >
  <div
  v-if="success"
  ref="alertNotifs"
  class="flex justify-center w-full bg-transparent mt-4"
  >
  <molecules-success-alert
  :success="success"
  :messageAlert="messageAlert"
  @close-alert="closeSuccessAlert"
  />
</div>

<div v-if="success" class="flex justify-center bg-transparent mt-2 mb-2">
  <button
  @click="backTo"
  type="button"
  class="px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-s-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white"
  >
  Check Data Supplier
</button>
</div>

<div class="flex-auto px-4 lg:px-10 py-10 pt-0">
  <form @submit.prevent="addNewSupplier">
    <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase">
      Data Supplier
    </h6>
    <div class="flex flex-wrap">
      <div class="w-full lg:w-6/12 px-4">
        <div class="relative w-full mb-3">
          <label
          class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
          htmlFor="nama"
          >
          Nama Supplier
        </label>
        <input
        id="nama"
        type="text"
        placeholder="Nama Supplier"
        class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
        v-model="input.nama"
        @input="inputNamaSupplier"
        />
      </div>

      <div
      v-if="validations.nama"
      class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
      role="alert"
      >
      <i class="fa-solid fa-circle-info"></i>
      <div class="px-2">
        {{ validations.nama[0] }}
      </div>
    </div>
  </div>

  <div class="w-full lg:w-6/12 px-4">
    <div class="relative w-full mb-3">
      <label
      class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
      htmlFor="kode"
      >
      Kode Supplier
    </label>
    <input
    id="kode"
    type="text"
    placeholder="Kode Supplier"
    class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
    v-model="input.kode"
    />
  </div>
</div>

<div class="w-full lg:w-6/12 px-4">
  <div class="relative w-full mb-3">
    <label
    class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
    htmlFor="email"
    >
    Email Supplier
  </label>
  <input
  id="email"
  type="text"
  placeholder="Email Supplier"
  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
  v-model="input.email"
  />
</div>
<div
v-if="validations.email"
class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
role="alert"
>
<i class="fa-solid fa-circle-info"></i>
<div class="px-2">
  {{ validations.email[0] }}
</div>
</div>
</div>

<div class="w-full lg:w-6/12 px-4">
  <div class="relative w-full mb-3">
    <label
    class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
    htmlFor="telp"
    >
    Telpon Supplier
  </label>
  <vue-tel-input
  name="telp"
  id="telp"
  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
  placeholder="62+xxxx xxxx xxx"
  v-model="input.telp"
  style="height: 50px"
  ></vue-tel-input>
</div>
<div
v-if="validations.telp"
class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
role="alert"
>
<i class="fa-solid fa-circle-info"></i>
<div class="px-2">
  {{ validations.telp[0] }}
</div>
</div>
</div>

<div class="w-full lg:w-6/12 px-4">
  <div class="relative w-full mb-3">
    <label
    class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
    htmlFor="pekerjaan"
    >
    NPWP Supplier
  </label>
  <input
  id="pekerjaan"
  type="text"
  placeholder="Npwp Supplier"
  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
  v-model="input.no_npwp"
  />
</div>
<div
v-if="validations.npwp"
class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
role="alert"
>
<i class="fa-solid fa-circle-info"></i>
<div class="px-2">
  {{ validations.npwp[0] }}
</div>
</div>
</div>
</div>

<div class="flex flex-wrap">
  <div class="w-full lg:w-12/12 px-4">
    <div class="relative w-full mb-3">
      <label
      class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
      htmlFor="alamat"
      >
      Alamat Supplier
    </label>
    <wysiwyg v-model="input.alamat" class="w-full" id="alamat"/>
  </div>

  <div
  v-if="validations.alamat"
  class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
  role="alert"
  >
  <i class="fa-solid fa-circle-info"></i>
  <div class="px-2">
    {{ validations.alamat[0] }}
  </div>
</div>
</div>
</div>

<hr class="mt-6 border-b-1 border-blueGray-300" />
<div class="flex flex-wrap">
  <div class="w-full lg:w-12/12 px-4 py-6">
    <button
    type="submit"
    class="w-full text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
    >
    <div v-if="loading">
      <svg
      aria-hidden="true"
      role="status"
      class="inline w-4 h-4 mr-3 text-white animate-spin"
      viewBox="0 0 100 101"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      >
      <path
      d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
      fill="#E5E7EB"
      />
      <path
      d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
      fill="currentColor"
      />
    </svg>
    Loading...
  </div>
  <span v-else><i class="fa-solid fa-plus"></i> Simpan Data</span>
</button>

<div v-if="loading">
  <molecules-row-loading :loading="loading" :options="options" />
</div>
</div>
</div>
</form>
</div>
</div>
</template>

<script>
  import { getData } from "~/hooks/index";
  import Datepicker from "vue2-datepicker";
  import "vue2-datepicker/index.css";

  export default {
    props: {
      type: {
        type: String,
      default: null,
      },
      current: {
        type: [Number, String],
      default: null,
      },
    },

    components: {
      Datepicker,
    },

    data() {
      return {
        loading: null,
        success: null,
        messageAlert: null,
        options: "",
        api_url: process.env.NUXT_ENV_API_URL,
        api_token: process.env.NUXT_ENV_APP_TOKEN,
        input: {},
        validations: [],
      };
    },

    beforeMount() {
      this.authTokenStorage();
    },

    methods: {
      closeSuccessAlert() {
        this.success = false;
        this.message = "";
      },

      backTo() {
        this.$router.push("/dashboard/master/supplier");
      },

      inputNamaSupplier(e) {
        this.input.nama = e.target.value
        this.input.kode = this.createInitial(this.input.nama);
      },

      createInitial(name) {
        if (!name) return '';

        const words = name.trim().split(/\s+/);
        let initials = '';

        if (words.length === 1) {
          const singleWord = words[0];
          const midIndex = Math.floor(singleWord.length / 2);
          initials = singleWord[0].toUpperCase() + singleWord[midIndex].toUpperCase();
        } else if (words.length >= 2) {
          const firstWordInitial = words[0][0].toUpperCase();
          const secondWordInitial = words[1][0].toUpperCase();
          initials = firstWordInitial + secondWordInitial;
        }

        const randomNumber = this.generateRandomNumber(100, 999);
        return initials + randomNumber;
      },

      generateRandomNumber(min, max) {
        return Math.floor(Math.random() * (max - min + 1)) + min;
      },

      addNewSupplier() {
        this.loading = true;

        this.options = "add-supplier";

        const dataPost = {
          nama: this.input.nama,
          kode: this.input.kode,
          email: this.input.email,
          telp: this.input.telp,
          alamat: this.input.alamat,
          no_npwp: this.input.no_npwp,
        };

        const endPoint = `/data-supplier`;
        const config = {
          headers: {
            Authorization: `Bearer ${this.token.token}`,
          },
        };

        this.$api
        .post(endPoint, dataPost, config)
        .then(({ data }) => {
          if (data.success) {
            this.success = true;
            this.messageAlert = data.message;
            this.validations = [];
            this.$swal({
              position: "top-end",
              icon: "success",
              title: data?.message,
              showConfirmButton: false,
              timer: 1500,
            });
            this.loading = false;
          } else {
            this.$swal({
              icon: "error",
              title: "Oops...",
              text: data.message,
            });
            setTimeout(() => {
              this.loading = false;
              this.input = {};
            }, 1000);
          }
        })
        .catch((err) => {
          this.validations = err.response.data;
          this.success = false;
          setTimeout(() => {
            this.loading = false;
          }, 1000);
        });
      },
    },

    computed: {
      token() {
        return this.$store.getters["auth/getAuthToken"];
      },
    },
  };
</script>
