<template>
  <tbody>
    <tr v-for="(column, idx) in columns" :key="idx" class="border-b border-gray-200">
      <th class="whitespace-nowrap p-4 text-lg border-l-2 border-r-2">
        {{ $moment(column.tanggal).format("L") }}
      </th>

      <th class="whitespace-nowrap p-4 text-lg border-l-2 border-r-2">
        <span
        class="bg-blue-100 me-2 px-2.5 py-0.5 text-blue-800 rounded  border border-blue-400"
        >
        {{ column.kode }}
      </span>
    </th>

    <td
    class="border-t-0 px-6 align-middle border-l-2 border-r-2 whitespace-nowrap p-4 text-center"
    >
    <span v-if="column.return === 'True'" class="bg-pink-100 text-pink-800 text-lg border-l-2 border-r-2 font-medium me-2 px-2.5 py-0.5 rounded">Di Return</span>
    <span v-else>-</span>
  </td>

  <td
  class="border-t-0 px-6 align-middle text-lg border-l-2 border-r-2 whitespace-nowrap p-4 text-right"
  >
  {{ $format(column.jumlah) }}
</td>

<td
class="border-t-0 px-6 align-middle text-lg border-l-2 border-r-2 whitespace-nowrap p-4 text-right"
>
<div class="flex justify-center space-x-6 -mb-6">
  <div>
    {{ column.sisa_dp !== null ? $format(column.sisa_dp) : 'Rp. 0' }}
  </div>
  <div>
    <button v-if="column.sisa_dp > 0"
      class="text-white bg-emerald-600 hover:bg-[#d6b02e] focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 focus:outline-none"
      type="button"
      v-on:click="toggleModal(column.kode)"
      >
      <i class="fa-solid fa-plus"></i> Tambah Sisa DP
    </button>
  </div>
</div>
<div class="flex justify-start p-2">
  <div
  v-if="showModalDP"
  class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex"
  >
  <div class="relative w-full my-6 mx-auto max-w-lg">
    <!--content-->
    <div
    class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none"
    >
    <!--header-->
    <div
    class="flex items-start justify-between p-5 border-b border-solid border-blueGray-200 rounded-t"
    >
    <div>
      <h3 class="text-slate-700 font-semibold">Tambah Sisa DP</h3>
    </div>
    <div>      
      <button
      class="p-1 ml-auto border-0 text-black float-right text-3xl leading-none font-semibold"
      v-on:click="toggleModalDP()"
      >
      <span class="text-black h-6 w-6 text-2xl block">
        <i class="fa-solid fa-xmark text-lg"></i>
      </span>
    </button>
  </div>
</div>
<!--body-->
<div  class="relative p-6 flex-auto">
  <form @submit.prevent="tambahSisaDP" class="max-w-sm mx-auto">
    <div class="mb-5">
      <label for="kas" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Pilih Kas</label>
      <div v-if="loadingKas">
        <div role="status">
          <svg
          aria-hidden="true"
          class="w-4 h-4 me-2 text-gray-200 animate-spin fill-blue-600"
          viewBox="0 0 100 101"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          >
          <path
          d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
          fill="currentColor"
          />
          <path
          d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
          fill="currentFill"
          />
        </svg>
        <span class="sr-only">Loading...</span>
      </div>
      <span class="text-white">Preparing data kas</span>
    </div>
    <div v-else>
      <Select2
      v-model="selectedKodeKas"
      :settings="{
        allowClear: true,
        dropdownCss: { top: 'auto', bottom: 'auto' },
      }"
      :options="[{ id: null, text: 'Pilih Kode Kas' }, ...kas]"
      @change="changeKodeKas($event)"
      @select="changeKodeKas($event)"
      placeholder="Pilih Kode Kas"
      class="text-sm"
      />
    </div>
  </div>
  <div class="mb-5">
    <label for="tambah" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Tambah Sisa DP</label>
    <input v-model="input.tambah" name="tambah" type="text" id="tambah" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Rp. 0" />
    <div
    v-if="validations.tambah"
    class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
    role="alert"
    >
    <i class="fa-solid fa-circle-info"></i>
    <div class="px-2">
      {{ validations.tambah[0] }}
    </div>
  </div>
</div>
<button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
  <div v-if="!loadingInput">Tambah</div>
  <div v-else>
    <svg aria-hidden="true" role="status" class="inline w-4 h-4 me-3 text-white animate-spin" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="#E5E7EB"/>
      <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentColor"/>
    </svg>
    Loading...
  </div>
</button>
</form>

</div>
</div>
</div>
</div>
</div>
<div v-if="showModalDP" class="opacity-20 fixed inset-0 z-40 bg-slate-500"></div>

</td>

<td class="whitespace-nowrap p-4 text-lg border-l-2 border-r-2">
  <span
  class="bg-green-100 me-2 px-2.5 py-0.5  text-green-800 rounded  border border-green-400"
  >
  {{ column.nama_supplier }} ({{ column.supplier }})
</span>
</td>

<td class="whitespace-nowrap p-8 text-lg border-l-2 border-r-2 text-center">
  <span
  v-html="generateLunas({ lunas: column.lunas, visa: column.visa })"
  ></span>
</td>


<td class="whitespace-nowrap p-8 text-lg border-l-2 border-r-2">
  <span class="bg-purple-100  text-purple-800 font-bold me-2 px-2.5 py-0.5 rounded border border-purple-400">
    {{ column.operator }}
  </span>
</td>

<td
v-if="column.token !== token.token && column.name !== 'VICKY ANDRIANI'"
class="whitespace-nowrap text-lg border-l-2 border-r-2 p-4"
>
<dropdowns-table-dropdown
@deleted-data="deletedData"
@restored-data="restoredData"
:id="column.id"
:types="types"
:param="column.id"
:paging="paging"
cellType="transaksi"
:role="roleId"
:queryData="column.kode"
:parentRoute="parentRoute"
:typeRoute="typeRoute"
:paramData="{lunas: column.lunas, hutang: column.hutang, stop_qty: column.stop_qty, return: column.return, kode: column.kode}"
cetakTitle="Pembelian"
queryMiddle="purchase-order"
queryType="PURCHASE_ORDER"
detailUrl="/dashboard/transaksi/beli/purchase-order"
@rebuild-data="refreshData"
/>
</td>
</tr>
</tbody>
</template>

<script>
  import { getData } from "~/hooks/index";

  export default {
    props: {
      columns: {
        type: [Array, Object],
      default: function () {
        return {};
      },
    },
    parentRoute: {
      type: String,
    default: null,
    },
    typeRoute: {
      type: String,
    default: null,
    },
    types: {
      type: String,
    },
    paging: {
      type: [Array, Object],
    default: function () {
        return {}; // or any other appropriate default value
      },
    },
  },

  data() {
    return {
      image_url: process.env.NUXT_ENV_STORAGE_URL,
      api_url: process.env.NUXT_ENV_API_URL,
      api_token: process.env.NUXT_ENV_APP_TOKEN,
      userData: [],
      name: "",
      roleId: null,
      groupedData: [],
      showModalDP: false,
      selectedKodeKas: null,
      input: {
        kode: null
      },
      loadingInput: false,
      kas: [],
      validations: {},
      loadingKas: false,
    };
  },

  beforeMount() {
    this.authTokenStorage();
  },

  mounted() {
    this.groupData();
    this.checkUserLogin();
    this.getKasData();
  },

  methods: {
    toggleModal: function (kode) {
      this.showModalDP = !this.showModalDP;
      this.input.tambah = null
      this.validations = [];
      if(kode !== undefined) {
        this.input.kode = kode
      }
    },

    refreshData() {
      this.$emit('rebuild-data')
    },

    tambahSisaDP() {
      this.loadingInput = true;
      const dataPrepare = {
        tambah: parseFloat(this.input.tambah)
      }
      
      const endPoint = `/tambah-sisa-dp/${this.input.kode}`;
      const config = {
        headers: {
          Accept: 'application/json',
          'Content-Type': 'application/json',
          Authorization: `Bearer ${this.token.token}`,
        },
      };

      this.$api
      .put(endPoint, dataPrepare, config)
      .then(({data}) => {
        if(data.success) {
          this.$swal({
            position: "top-end",
            icon: "success",
            title: data?.message,
            showConfirmButton: false,
            timer: 1500
          })
          this.showModalDP = false
          this.$emit('rebuild-data')
        } else {          
          setTimeout(() => {
            this.loadingInput = false
            this.showModalDP = false
          }, 500)
        }
      })
      .catch(err => {
        this.loadingInput = false
        this.err = true
        this.validations = err.response.data
        this.selectedKodeKas = null;
        this.input.kode_kas = null;
      })
      .finally(() => {
        this.loadingInput = false
      })
    },

    tambahSisaDP() {
      this.loadingInput = true;
      const dataPrepare = {
        tambah: parseFloat(this.input.tambah),
        kode_kas: this.input.kode_kas
      }
      
      const endPoint = `/tambah-sisa-dp/${this.input.kode}`;
      const config = {
        headers: {
          Accept: 'application/json',
          'Content-Type': 'application/json',
          Authorization: `Bearer ${this.token.token}`,
        },
      };

      this.$api
      .put(endPoint, dataPrepare, config)
      .then(({data}) => {
        if(data.success) {
          this.$swal({
            position: "top-end",
            icon: "success",
            title: data?.message,
            showConfirmButton: false,
            timer: 1500
          })
          this.showModalDP = false
          this.$emit('rebuild-data')
        } else {          
          setTimeout(() => {
            this.loadingInput = false
            this.showModalDP = false
          }, 500)
        }
      })
      .catch(err => {
        this.loadingInput = false
        this.err = true
        this.validations = err.response.data
      })
      .finally(() => {
        this.loadingInput = false
      })
    },

    changeKodeKas(newValues) {
      if (newValues && newValues.id !== undefined) {
        const kasId = Number(newValues.id);
        if (!isNaN(kasId)) {
          this.showBayar = false;
          this.selectedKodeKas = kasId;
          this.getKasDetail(kasId);
          this.input.kode_kas = kasId;
        }
      }
    },

    async getKasDetail(id) {
      this.loadingKas = true;
      const data = await getData({
        api_url: `${this.api_url}/data-kas/${id}`,
        token: this.token.token,
        api_key: this.api_token,
      });
      const result = data?.data[0];

      setTimeout(() => {
        this.showDetailKas = true;
        this.detailKas = result;
        this.loadingKas = false;
      }, 500);
    },

    transformDataKasLists(rawData) {
      return rawData
      .filter((item) => item && item.kode)
      .map((item) => ({
        id: item.id,
        text: `${item.nama} - ${item.kode}`,
      }));
    },

    getKasData() {
      this.loadingKas = true;
      const getAllPages = async () => {
        let allData = [];
        let currentPage = 1;
        let totalPages = 1;

        while (currentPage <= totalPages) {
          const data = await getData({
            api_url: `${this.api_url}/data-kas?page=${currentPage}`,
            token: this.token.token,
            api_key: this.api_token,
          });
          allData = allData.concat(data?.data);
          totalPages = data?.meta?.last_page;
          currentPage++;
        }

        return allData;
      };

      getAllPages()
      .then((data) => {
        this.kas = this.transformDataKasLists(data);
      })
      .finally(() => {
        setTimeout(() => {
          this.loadingKas = false;
        }, 500);
      })
      .catch((err) => console.log(err));
    },

    generateLunas(data) {
      let icon;
      if (data.lunas == "True" && data.visa !== "HUTANG") {
        icon = `<i class="fa-solid fa-check fa-lg text-emerald-600"></i>`;
      } else {
        icon = '<i class="fa-solid fa-circle-minus text-red-600 fa-lg"></i>';
      }
      return icon;
    },
    deletedData(id) {
      this.$emit("deleted-data", id);
    },

    restoredData(id) {
      this.$emit("restored-data", id);
    },

    groupData() {
      const grouped = {};
      this.columns.forEach((column) => {
        if (!grouped[column.kode]) {
          grouped[column.kode] = [];
        }
        grouped[column.kode].push(column);
      });

      this.groupedData = Object.values(grouped);
    },

    checkUserLogin() {
      if (this.$_.isObject(this.token)) {
        const endPoint = `${this.api_url}/user-data`;
        const config = {
          headers: {
            Accept: "application/json",
            Authorization: `Bearer ${this?.token?.token}`,
            "Content-Type": "application/json",
            "Sirmuh-Key": process.env.NUXT_ENV_APP_TOKEN,
          },
        };
        this.$api
        .get(endPoint, config)
        .then(({ data }) => {
          this.userData = data?.data;
          this.name = data?.data?.name;
          this.roleId = data?.data?.role;
        })
        .catch((err) => {
          console.log(err);
        });
      } else {
        this.$swal({
          icon: "error",
          title: "Oops...",
          text: "Error Access!",
        });
        this.$router.replace("/");
      }
    },
  },

  computed: {
    token() {
      return this.$store.getters["auth/getAuthToken"];
    },
  },
};
</script>
