<template>
  <div class="flex justify-center">
    <!-- <a
      class="text-blueGray-400 py-1 px-6 font-bold text-2xl"
      href="#!"
      @click="toggleDropdown"
      ref="btnDropdownRef"
    >
      <i class="fas fa-ellipsis-v"></i>
    </a> -->
    <div v-if="cellType === 'data'">
      <ul
      class="py-2 text-2xl text-gray-700 flex justify-start space-x-4"
      aria-labelledby="dropdownDefaultButton"
      >
      <li v-if="types === 'pemakaian-barang'">
        <button
        v-if="paramData.draft === 1"
        @click="redirectResultPemakaian(paramData.kode)"
        class="text-2xl py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-emerald-700 hover:text-white cursor-pointer hover:bg-gray-400 hover:rounded-md border border-gray-800 me-2 mb-2 focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-lg"
        >
        <i class="fa-solid fa-recycle"></i>
      </button>
    </li>
    <li
    v-if="
    types !== 'data-pelanggan' &&
    types !== 'data-supplier' &&
    types !== 'karyawan' &&
    types !== 'kas' &&
    types !== 'data-laporan-hutang' &&
    types !== 'bayar-hutang' &&
    types !== 'data-biaya' && 
    types !== 'purchase-order'
    "
    >
    <button
    @click="detailDataRedirect(queryData)"
    role="button"
    class="text-2xl py-2 px-4 font-normal block w-full bg-transparent text-sky-400 hover:text-white cursor-pointer hover:bg-gray-400 hover:rounded-md border border-gray-800 me-2 mb-2 focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-lg"
    >
    <i class="fa-solid fa-circle-info"></i>
  </button>
</li>
<li v-if="types !== 'data-role-management' && types !== 'bayar-hutang'">
  <button
  @click="redirectEditPage"
  class="text-2xl py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-cyan-800 hover:text-white cursor-pointer hover:bg-gray-400 hover:rounded-md border border-gray-800 me-2 mb-2 focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-lg"
  >
  <i class="fa-solid fa-pen-to-square"></i> 
</button>
</li>
<li v-if="types !== 'data-role-management' && types !== 'bayar-hutang'">
  <button
  @click.prevent="deletedData"
  class="text-2xl py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-red-700 hover:text-white cursor-pointer hover:bg-gray-400 hover:rounded-md border border-gray-800 me-2 mb-2 focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-lg"
  >
  <i class="fa-solid fa-trash"></i>
</button>
</li>
<li v-else>
  <button
  v-if="role === 1 && types !== 'bayar-hutang' && types !== 'data-role-management'"
  @click="redirectEditPage"
  class="text-2xl py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-cyan-800 hover:text-white cursor-pointer hover:bg-gray-400 hover:rounded-md border border-gray-800 me-2 mb-2 focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-lg"
  >
  <i class="fa-solid fa-pen-to-square"></i>
</button>
</li>
</ul>
</div>

<div v-if="cellType === 'transaksi' && types !== 'bayar-hutang' && types !== 'terima-piutang'">
  <ul
  class="flex justify-start space-x-2 py-2 text-2xl"
  aria-labelledby="dropdownDefaultButton"
  >
  <!-- Tambah DP -->
  <li v-if="types === 'purchase-order'">
    <button
    class="text-2xl py-2 px-4 font-normal block w-full bg-transparent text-emerald-700 hover:text-white cursor-pointer hover:bg-gray-400 hover:rounded-md border border-gray-800 me-2 mb-2 focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-lg"
    type="button"
    v-on:click="toggleModalDP(paramData.kode)"
    >
    <i class="fa-solid fa-plus"></i>
  </button>
  <div
  v-if="showModalDP"
  class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex"
  >
  <div class="relative w-full my-6 mx-auto max-w-lg">
    <!--content-->
    <div
    class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none"
    >
    <!--header-->
    <div
    class="flex items-start justify-between p-5 border-b border-solid border-blueGray-200 rounded-t"
    >
    <div>
      <h3 class="text-slate-700 font-semibold">Tambah DP Awal</h3>
    </div>
    <div>      
      <button
      class="p-1 ml-auto border-0 text-black float-right text-3xl leading-none font-semibold"
      v-on:click="toggleModalDP()"
      >
      <span class="text-black h-6 w-6 text-2xl block">
        <i class="fa-solid fa-xmark text-lg"></i>
      </span>
    </button>
  </div>
</div>
<!--body-->
<div  class="relative p-6 flex-auto">
  <form @submit.prevent="tambahDP" class="max-w-sm mx-auto">
    <div class="mb-5">
      <label for="kas" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Pilih Kas</label>
      <div v-if="loadingKas">
        <div role="status">
          <svg
          aria-hidden="true"
          class="w-4 h-4 me-2 text-gray-200 animate-spin fill-blue-600"
          viewBox="0 0 100 101"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          >
          <path
          d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
          fill="currentColor"
          />
          <path
          d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
          fill="currentFill"
          />
        </svg>
        <span class="sr-only">Loading...</span>
      </div>
      <span class="text-white">Preparing data kas</span>
    </div>
    <div v-else>
      <Select2
      v-model="selectedKodeKas"
      :settings="{
        allowClear: true,
        dropdownCss: { top: 'auto', bottom: 'auto' },
      }"
      :options="[{ id: null, text: 'Pilih Kode Kas' }, ...kas]"
      @change="changeKodeKas($event)"
      @select="changeKodeKas($event)"
      placeholder="Pilih Kode Kas"
      class="text-sm"
      />
    </div>
  </div>
  <div class="mb-5">
    <label for="tambah" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Tambah DP Awal</label>
    <input v-model="input.tambah" name="tambah" type="text" id="tambah" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Rp. 0" />
    <div
    v-if="validations.tambah"
    class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
    role="alert"
    >
    <i class="fa-solid fa-circle-info"></i>
    <div class="px-2">
      {{ validations.tambah[0] }}
    </div>
  </div>
</div>

<button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
  <div v-if="!loadingInput">Tambah DP Awal</div>
  <div v-else>
    <svg aria-hidden="true" role="status" class="inline w-4 h-4 me-3 text-white animate-spin" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="#E5E7EB"/>
      <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentColor"/>
    </svg>
    Loading...
  </div>
</button>
</form>

</div>
</div>
</div>
</div>
<div v-if="showModalDP" class="opacity-80 fixed inset-0 z-40 bg-slate-800"></div>
</li>
<!-- End Of tambah DP -->
<li v-if="types !== 'return-pembelian' && paramData.return !== null">
  <button
  v-if="cetakTitle === 'Pembelian'"
  @click="returnDataRedirect(queryData)"
  role="button"
  class="text-2xl py-2 px-4 font-normal block w-full bg-transparent text-emerald-700 hover:text-white cursor-pointer hover:bg-gray-400 hover:rounded-md border border-gray-800 me-2 mb-2 focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-lg"
  >
  <i class="fa-solid fa-arrows-rotate"></i>
</button>
<button
v-if="cetakTitle === 'Penjualan' && paramData.receive !== 'False'"
@click="returnDataRedirect(queryData)"
role="button"
class="text-2xl py-2 px-4 font-normal block w-full bg-transparent text-emerald-700 hover:text-white cursor-pointer hover:bg-gray-400 hover:rounded-md border border-gray-800 me-2 mb-2 focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-lg"
>
<i class="fa-solid fa-arrows-rotate"></i> 
</button>
</li>
      <!-- <li v-else>
        <button v-if="paramData.kembali === 'False'"
          @click="sendBarang(queryData)"
          role="button"
          class="text-2xl py-2 px-4 font-normal block w-full bg-transparent text-emerald-700 hover:text-white cursor-pointer hover:bg-gray-400 hover:rounded-md"
          >
          <i class="fa-solid fa-truck-fast"></i>
        </button>
      </li> -->
      <li>
        <button
        @click="detailDataRedirect(queryData)"
        role="button"
        class="text-2xl py-2 px-4 font-normal block w-full bg-transparent text-sky-400 hover:text-white cursor-pointer hover:bg-gray-400 hover:rounded-md border border-gray-800 me-2 mb-2 focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-lg"
        >
        <i class="fa-solid fa-circle-info"></i>
      </button>
    </li>
    <li>
      <button
      @click="redirectCetak(queryData)"
      role="button"
      class="text-2xl py-2 px-4 font-normal block w-full bg-transparent text-blue-700 cursor-pointer hover:bg-gray-400 hover:text-white hover:rounded-md border border-gray-800 me-2 mb-2 focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-lg"
      >
      <i class="fa-solid fa-print"></i>
    </button>
  </li>
  <li>
    <button
    v-if="role === 1 && types === 'pembelian-langsung'"
    @click="redirectEditPage"
    class="text-2xl py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-cyan-800 hover:text-white cursor-pointer hover:bg-gray-400 border border-gray-800 me-2 mb-2 focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-lg"
    >
    <i class="fa-solid fa-pen-to-square"></i>
  </button>
</li>
<li v-if="types === 'purchase-order' || types === 'penjualan-po'">
  <button v-if="paramData.lunas === 'False' && Number(paramData.hutang) == 0"
  @click="redirectTerimaPo(queryData)"
  class="text-2xl py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-emerald-700 hover:text-white cursor-pointer hover:bg-gray-400 hover:rounded-md border border-gray-800 me-2 mb-2 focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-lg"
  >
  <i class="fa-solid fa-cart-shopping"></i>
</button>

<button v-if="paramData.lunas === 'False' && Number(paramData.piutang) == 0"
@click="redirectKirimPo(queryData)"
class="text-2xl py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-emerald-700 hover:text-white cursor-pointer hover:bg-gray-400 hover:rounded-md border border-gray-800 me-2 mb-2 focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-lg"
>
<i class="fa-solid fa-truck-ramp-box"></i>
</button>
</li>

<li v-if="role === 1">
  <div v-if="types === 'purchase-order' || types === 'penjualan-po'">
    <button v-if="paramData.stop_qty === 'True'"
    @click.prevent="deletedData"
    class="text-2xl py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-red-700 hover:text-white cursor-pointer hover:bg-gray-400 hover:rounded-md border border-gray-800 me-2 mb-2 focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-lg">
    <i class="fa-solid fa-trash"></i>
  </button>

  <button v-else
  disabled
  class="text-2xl py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-red-700 hover:text-white cursor-pointer hover:bg-gray-400 hover:rounded-md border border-gray-800 me-2 mb-2 focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-lg">
  <i class="fa-solid fa-ban"></i>
</button>
</div>

<div v-else>
  <button v-if="paramData.lunas !== 'False'"
  @click.prevent="deletedData"
  class="text-2xl py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-red-700 hover:text-white cursor-pointer hover:bg-gray-400 hover:rounded-md border border-gray-800 me-2 mb-2 focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-lg">
  <i class="fa-solid fa-trash"></i>
</button>
</div>
</li>
</ul>
</div>

<div >
  <ul v-if="cellType === 'trash'"
  class="py-2 text-2xl flex justify-start space-x-4"
  aria-labelledby="dropdownDefaultButton"
  >
  <li>
    <button
    @click="restoredData"
    class="text-2xl py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blue-700 cursor-pointer hover:bg-gray-400 hover:text-white hover:rounded-md border border-gray-800 me-2 mb-2 focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-lg"
    >
    <i class="fa-solid fa-rotate"></i>
  </button>
</li>

<li>
  <button
  @click="deletedData"
  class="text-2xl py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-red-700 cursor-pointer hover:bg-gray-400 hover:text-white hover:rounded-md border border-gray-800 me-2 mb-2 focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-lg"
  >
  <i class="fa-solid fa-trash"></i> 
</button>
</li>
</ul>
</div>

<div v-if="cellType === 'bayar'">
  <ul
  class="py-2 text-2xl flex justify-start space-x-4"
  aria-labelledby="dropdownDefaultButton"
  >
  <li>
    <button
    @click="detailDataRedirect(queryData)"
    class="text-2xl py-2 px-4 font-normal block w-full bg-transparent text-sky-400 hover:text-white cursor-pointer hover:bg-gray-400 hover:rounded-md border border-gray-800 me-2 mb-2 focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-lg"
    >
    <i class="fa-solid fa-circle-info"></i>
  </button>
</li>

<li v-if="types === 'bayar-hutang' || types === 'piutang-pelanggan'">
  <button
  @click="redirectCetak(queryData)"
  class="text-2xl py-2 px-4 font-normal block w-full bg-transparent text-blue-700 cursor-pointer hover:bg-gray-400 hover:text-white hover:rounded-md border border-gray-800 me-2 mb-2 focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-lg"
  >
  <i class="fa-solid fa-print"></i>
</button>
</li>

<li v-if="types === 'bayar-hutang'|| types === 'piutang-pelanggan'">
  <button
  v-if="dataItem.lunas === 'False' || dataItem.lunas == 0 && parseFloat(dataItem.jumlah) !== 0"
  @click="redirectBayarHutang(queryData)"
  class="text-2xl py-2 px-4 font-normal block w-full bg-transparent text-emerald-600 cursor-pointer hover:bg-gray-400 hover:text-white hover:rounded-md border border-gray-800 me-2 mb-2 focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-lg"
  >
  <i v-if="types === 'bayar-hutang'" class="fa-solid fa-credit-card"></i>
  <i v-if="types === 'piutang-pelanggan'" class="fa-solid fa-cash-register" />
</button>
</li>
</ul>

</div>
</div>
</template>
<script>
  import { createPopper } from "@popperjs/core";
  import { getData } from "~/hooks/index";

  export default {
    props: {
      dataItem: {
        type: Object,
      default: function () {
        return {};
      },
    },
    id: {
      type: [Number, String],
    default: "",
    },
    role: {
      tye: [Number, String],
    default: "",
    },
    types: {
      type: String,
    default: "",
    },
    pembelianType: {
      type: String,
    default: ""
    },
    username: {
      type: String,
    default: "",
    },
    userStatus: {
      type: Object,
    default: function () {
      return {
        status: "",
        user_id: null,
      };
    },
  },
  paramData: {
    type: Object,
  default: function () {
    return {
      lunas: null,
      hutang: 0,
    };
  },
},
cellType: {
  type: String,
default: "data",
},
queryMiddle: {
  type: String,
default: "",
},
queryType: {
  type: String,
default: "",
},
detailUrl: {
  type: String,
default: "",
},
queryData: {
  type: [String, Number],
default: "",
},
param: {
  type: [String, Number],
default: "",
},
parentRoute: {
  type: String,
default: null,
},
typeRoute: {
  type: String,
default: null,
},
campaigns: {
  type: Number,
default: 0,
},
donationStatus: {
  type: String,
default: "PENDING",
},
transactionId: {
  type: String,
default: "",
},
transactionReceipt: {
  type: String,
default: "",
},
paging: {
  type: [Array, Object],
default: function () {
  return {};
},
},
cetakTitle: {
  type: String,
default: "-",
},
},

data() {
  return {
    dropdownPopoverShow: false,
    selectedKodeKas: null,
    showModal: false,
    showModalDP: false,
    kas: [],
    validations: {},
    input: {
      kode: null
    },
    loadingInput: false,
    loadingKas: false,
    api_url: process.env.NUXT_ENV_API_URL,
    api_token: process.env.NUXT_ENV_APP_TOKEN,
  };
},

beforeMount() {
  this.authTokenStorage();
},

mounted() {
  this.getKasData();
},

methods: {
  toggleModalDP: function (kode) {
    console.log(kode)
    this.showModalDP = !this.showModalDP;
    this.input.tambah = null
    this.validations = [];
    if(kode !== undefined) {
      this.input.kode = kode
    }
  },

  tambahDP() {
    this.loadingInput = true;
    const dataPrepare = {
      tambah: parseFloat(this.input.tambah),
      kode_kas: this.input.kode_kas
    }

    const endPoint = `/tambah-dp-awal/${this.input.kode}`;
    const config = {
      headers: {
        Accept: 'application/json',
        'Content-Type': 'application/json',
        Authorization: `Bearer ${this.token.token}`,
      },
    };

    this.$api
    .put(endPoint, dataPrepare, config)
    .then(({data}) => {
      if(data.success) {
        this.$swal({
          position: "top-end",
          icon: "success",
          title: data?.message,
          showConfirmButton: false,
          timer: 1500
        })
        this.showModalDP = false
        this.$emit('rebuild-data')
      } else {          
        setTimeout(() => {
          this.loadingInput = false
          this.showModalDP = false
        }, 500)
      }
    })
    .catch(err => {
      this.loadingInput = false
      this.err = true
      this.validations = err.response.data
    })
    .finally(() => {
      this.loadingInput = false
    })
  },

  changeKodeKas(newValues) {
    if (newValues && newValues.id !== undefined) {
      const kasId = Number(newValues.id);
      if (!isNaN(kasId)) {
        this.showBayar = false;
        this.selectedKodeKas = kasId;
        this.getKasDetail(kasId);
        this.input.kode_kas = kasId;
      }
    }
  },

  async getKasDetail(id) {
    this.loadingKas = true;
    const data = await getData({
      api_url: `${this.api_url}/data-kas/${id}`,
      token: this.token.token,
      api_key: this.api_token,
    });
    const result = data?.data[0];

    setTimeout(() => {
      this.showDetailKas = true;
      this.detailKas = result;
      this.loadingKas = false;
    }, 500);
  },

  transformDataKasLists(rawData) {
    return rawData
    .filter((item) => item && item.kode)
    .map((item) => ({
      id: item.id,
      text: `${item.nama} - ${item.kode}`,
    }));
  },

  getKasData() {
    this.loadingKas = true;
    const getAllPages = async () => {
      let allData = [];
      let currentPage = 1;
      let totalPages = 1;

      while (currentPage <= totalPages) {
        const data = await getData({
          api_url: `${this.api_url}/data-kas?page=${currentPage}`,
          token: this.token.token,
          api_key: this.api_token,
        });

        allData = allData.concat(data?.data);
        totalPages = data?.meta?.last_page;
        currentPage++;
      }

      return allData;
    };

    getAllPages()
    .then((data) => {
      this.kas = this.transformDataKasLists(data);
    })
    .finally(() => {
      setTimeout(() => {
        this.loadingKas = false;
      }, 500);
    })
    .catch((err) => console.log(err));
  },

  toggleDropdown(event) {
    event.preventDefault();
    this.dropdownPopoverShow = !this.dropdownPopoverShow;

    if (this.dropdownPopoverShow) {
      createPopper(this.$refs.btnDropdownRef, this.$refs.popoverDropdownRef, {
        placement: "bottom-start",
      });
      document.addEventListener("click", this.hideDropdown);
    } else {
        // Menghapus event listener dari dokumen
      document.removeEventListener("click", this.hideDropdown);
    }
  },

  toggleModal: function () {
    this.showModal = !this.showModal;
      // this.$emit('accept-payment', id)
    setTimeout(() => {
      this.dropdownPopoverShow = false;
    }, 500);
  },

  sendBarang(kode) {
    let url = `/dashboard/transaksi/return-pembelian/kirim/${this.id}`;

    this.$router.push({
      path: url,
      query: {
        current: this.paging.current,
        type: this.types,
        kode: kode
      }
    })
  },

  returnDataRedirect(kode) {
    let url;
    switch(this.types) {
    case "pembelian-langsung":
    case "purchase-order":
      url = `/dashboard/transaksi/return-pembelian/${this.id}`;
      break;

    case "penjualan-toko":
    case "penjualan-partai":
    case "penjualan-po":
      url = `/dashboard/transaksi/return-penjualan/${this.id}`;
      break;
    }

    this.$router.push({
      path: url,
      query: {
        current: this.paging.current,
        type: this.types,
        faktur: kode
      }
    })
  },

  redirectResultPemakaian(kode) {
    let url = `/dashboard/backoffice/pemakaian-barang/result/${kode}`
    this.$router.push({
      path: url,
      query: {
        current: this.paging.current,
        query: this.id,
      },
    });
  },

  redirectBayarHutang(kode) {
    let url;
    switch(this.types){
    case "bayar-hutang":
      url = `/dashboard/transaksi/bayar-hutang/${kode}`;
      break;

    case "piutang-pelanggan":
      url = `/dashboard/transaksi/terima-piutang/piutang-pelanggan/${kode}`;
      break;
    }
    this.$router.push({
      path: url,
      query: {
        current: this.paging.current,
        id: this.id,
      },
    });
  },

  redirectTerimaPo(kode) {
    const url = `/dashboard/transaksi/beli/purchase-order/terima-po/${this.id}`
    this.$router.push({
      path: url,
      query: {
        type: this.queryType,
        faktur: kode,
        accept: "terima-po"
      }
    })
  },

  redirectKirimPo(kode) {
    const url = `/dashboard/transaksi/jual/penjualan-po/kirim-po/${this.id}`
    this.$router.push({
      path: url,
      query: {
        type: this.queryType,
        faktur: kode,
        accept: "terima-po"
      }
    })
  },

  redirectCetak(kode) {
    localStorage.setItem("cetak_code", JSON.stringify({ ref_code: kode }));
    let url = "";
    console.log(this.cetakTitle)
    switch (this.cetakTitle) {
    case "Pembelian":
      url = `/dashboard/transaksi/beli/${this.queryMiddle}/cetak`;
      break;
    case "Penjualan":
      url = `/dashboard/transaksi/jual/${this.queryMiddle}/cetak`;
      break;
    case "bayarHutang":
      url = `/dashboard/transaksi/bayar-hutang/cetak`;
      break;
    case "piutangPelanggan":
      url = `/dashboard/transaksi/terima-piutang/piutang-pelanggan/cetak`;
      break;
    case "returnPembelian":
      url = `/dashboard/transaksi/return-pembelian/cetak`;
      break;
    case "returnPenjualan":
      url = `/dashboard/transaksi/return-penjualan/cetak`;
      break;
    }
    this.$router.push({
      path: url,
      query: {
        kode: kode,
      },
    });
  },

  hideDropdown(event) {
    const targetElement = event.target;

    if (
      this.$refs.btnDropdownRef &&
      !this.$refs.btnDropdownRef.contains(targetElement) &&
      this.$refs.popoverDropdownRef &&
      !this.$refs.popoverDropdownRef.contains(targetElement)
      ) {
      this.dropdownPopoverShow = false;
        // Menghapus event listener dari dokumen
    document.removeEventListener("click", this.hideDropdown);
  }
},

redirectEditPage() {
  if (
    this.types === "barang-by-suppliers" ||
    this.types === "barang-by-warehouse" ||
    this.types === "barang-all" ||
    this.types === "pembelian-langsung" || 
    this.types === "purchase-order" ||
    this.types === "penjualan-toko" ||
    this.types === "penjualan-po"
    ) {
    this.$router.push({
      path: `/dashboard/${this.parentRoute}/${this.typeRoute}/${this.queryMiddle}/edit/${this.param}`,
      query: {
        type: this.queryType,
        current: this.paging.current,
      },
    });
} else {
  this.$router.push({
    path: `/dashboard/${this.parentRoute}/${this.queryMiddle}/edit/${this.param}`,
  });
}

      // this.$router.push({
      //   path: `/dashboard/${this.parentRoute}/${this.typeRoute}/${this.queryMiddle}/edit/${this.param}`,
      //   query: {
      //     type: this.queryType,
      //     current: this.paging.current,
      //   },
      // });
},

deletedData() {
  this.$swal({
    title: "Are you sure?",
    text: "You won't be able to revert this!",
    icon: "warning",
    showCancelButton: true,
    confirmButtonColor: "#3085d6",
    cancelButtonColor: "#d33",
    confirmButtonText: "Yes, delete it!",
  }).then((result) => {
    if (result.isConfirmed) {
      this.$emit("deleted-data", this.id);
      this.dropdownPopoverShow = false;
    }
  });
},

activationUser(user_id) {
  this.$emit("activation-user", user_id);
  setTimeout(() => {
    this.dropdownPopoverShow = false;
  }, 500);
},

restoredData() {
  this.$emit("restored-data", this.id);
  this.dropdownPopoverShow = false;
},

detailDataRedirect(param) {
  switch (this.queryType) {
  case "BARANG_BY_SUPPLIERS":
  case "BARANG_BY_WAREHOUSE":
    this.$router.push({
            // path: `/dashboard/${this.queryMiddle}/detail/${param}`,
            // path: `/dashboard/master/barang/detail/${this.queryMiddle}/${param}`,
      path: `/dashboard/${this.parentRoute}/${this.typeRoute}/${this.queryMiddle}/detail/${param}`,
      query: {
        type: this.queryType,
        current: this.paging.current,
      },
    });
    break;
  case "PEMBELIAN_LANGSUNG":
  case "PURCHASE_ORDER":
  case "PENJUALAN_TOKO":
  case "PENJUALAN_PARTAI":
  case "PENJUALAN_PO":
  case "PIUTANG_PELANGGAN":
  case "DATA_ROLE_USER":
  case "DATA_ROLE_MANAGEMENT":
    this.$router.push({
            // path: `/dashboard/${this.queryMiddle}/detail/${param}`,
            // path: `/dashboard/master/barang/detail/${this.queryMiddle}/${param}`,
      path: `/dashboard/${this.parentRoute}/${this.typeRoute}/${this.queryMiddle}/detail/${this.param}`,
      query: {
        type: this.queryType,
        current: this.paging.current,
      },
    });
    break;
  case "BAYAR_HUTANG":
  case "DATA_PENGELUARAN":
  case "DATA_PEMASUKAN":
  case "KOREKSI_STOK":
  case "PEMAKAIAN_BARANG":
  case "RETURN_PENJUALAN":
    this.$router.push({
            // path: `/dashboard/${this.queryMiddle}/detail/${param}`,
            // path: `/dashboard/master/barang/detail/${this.queryMiddle}/${param}`,
      path: `/dashboard/${this.parentRoute}/${this.typeRoute}/detail/${param}`,
      query: {
        type: this.queryType,
        query: this.id,
      },
    });
    break;
  default:
    this.$router.push({
            // path: `/dashboard/${this.queryMiddle}/detail/${param}`,
      path: `/detail/${this.queryMiddle}/${param}`,
      query: {
        type: this.queryType,
        current: this.paging.current,
      },
    });
  }
},

acceptPayment(id) {
  this.$emit("accept-payment", id);
  setTimeout(() => {
    this.dropdownPopoverShow = false;
  }, 500);
},

},
computed: {
  token() {
    return this.$store.getters["auth/getAuthToken"];
  },
},
};
</script>
